<div class="container-fluid allcontainer" >
    <div class="row  mx-lg-5 py-3  py-lg-5 d-flex justify-content-center align-items-center bothdiv">
        <div class="col-12  col-md-8 col-lg-5 leftdiv">
            <button type="button" class="btn btn-outline-danger px-4 firstbtn">About Us</button>
            <h2 class="fs-2 fw-bolder mt-2">Ducimus rerum libero reprehenderit cumque</h2>
            <p class="fs-6">Ipsa sint sit. Quis ducimus tempore dolores impedit et dolor cumque alias maxime. Enim
                reiciendis minus et rerum hic non. Dicta quas cum quia maiores iure. Quidem nulla qui assumenda incidunt
                voluptatem tempora deleniti soluta.</p>
            <button type="button" class="btn btn-danger px-4 py-2 secbtn">Read More
                <fa-icon [icon]="arrowRight"></fa-icon>
            </button>
        </div>

        <div class="col-12  col-md-9 col-lg-7 mt-3 mt-lg-0  d-md-flex gap-3 rightdiv">
            <div class="flex-col d-flex flex-column pt-lg-4">
                <div class="bg-white  mb-3 py-5 px-5 rounded-3 shadow">
                    <div class="rounded-circle d-flex justify-content-center align-items-center circle" >
                        <fa-icon [icon]="building" class="fa-xl icon"></fa-icon>
                    </div>
                    <h2>Eius provident</h2>
                    <p>Magni repellendus vel ullam hic officia accusantium ipsa dolor omnis dolor voluptatem</p>
                </div>
                <div class="bg-white  mb-3 py-5 px-5 rounded-3 shadow" >
                    <div class="rounded-circle d-flex justify-content-center align-items-center circle" >
                        <fa-icon [icon]="clip" class="fa-xl  icon"></fa-icon>
                    </div>
                    <h2>Eius provident</h2>
                    <p>Magni repellendus vel ullam hic officia accusantium ipsa dolor omnis dolor voluptatem</p>
                </div>
            
            </div>
            <div class="flex-col d-flex flex-column">
                <div class="bg-white  mb-3 py-5 px-4 rounded-3 shadow" >
                    <div class="rounded-circle d-flex justify-content-center align-items-center circle" >
                        <fa-icon [icon]="clip" class="fa-xl icon"></fa-icon>
                    </div>
                    <h2>Eius provident</h2>
                    <p>Magni repellendus vel ullam hic officia accusantium ipsa dolor omnis dolor voluptatem</p>
                </div>
                <div class="bg-white  mb-3 py-5 px-4 rounded-3 shadow">
                    <div class="rounded-circle d-flex justify-content-center align-items-center circle" >
                        <fa-icon [icon]="building" class="fa-xl icon"></fa-icon>
                    </div>
                    <h2>Eius provident</h2>
                    <p>Magni repellendus vel ullam hic officia accusantium ipsa dolor omnis dolor voluptatem</p>
                </div>
            </div>
        </div>
    </div>
</div>