// Apply the mixin in the .bgheader class
.bgheader {
  background: url('../../../assets/images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: relative;

  // Add a semi-transparent overlay
  &::before {
    content: ""; // Required for pseudo-element
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); // Adjust the color and opacity as needed
    z-index: 1; // Position the overlay above the background image
  }

  nav {
    position: relative; // Position relative for proper stacking context
    z-index: 2; // Ensure nav content is above the overlay

    .container-fluid {
      a {
        color: white; // White text for visibility
      }
    }

    ul {
      li {
        a {
          color: white; // White text for visibility
        }
      }
    }
  }

  .info {
    position: relative; // Position relative for proper stacking context
    z-index: 2;

    h2 {
      color: white;
      letter-spacing: 2px;
    }

    p {
      color: white;

    }

    .textbox {
      width: 45%; // Make textbox full width of its container
      display: flex; // Align items horizontally

      // Media query for responsiveness
      @media (max-width: 768px) {
        // Adjust the breakpoint as necessary
        width: 90%; // Change width to 90% for medium screens and below
      }
    }


  }
}