<div class="bgheader" >
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid px-5 mt-lg-1">
          <a class="navbar-brand  fs-3  fw-bolder" routerLink="">Append</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0 gap-lg-1">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="">Blog</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="">Action</a></li>
                  <li><a class="dropdown-item" routerLink="">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" routerLink="">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="">Contact</a>
              </li>
            </ul>
            <div class="d-flex" role="search">
              <button class="btn text-white bg-danger" type="submit">Get Started</button>
            </div>
          </div>
        </div>
      </nav>

      <div class="container info mt-5 pt-lg-5 ps-lg-5">
        <h2 class="fs-1 fw-bolder  pt-lg-5">Welcome to Our Website</h2>
        <p class="fs-5 ">We are team of talented designers making websites with Bootstrap</p>
      
        <div class="d-flex textbox bg-white  py-2 px-3 rounded-2">
            <input type="text" class="form-control border-0">
            <input type="submit" value="Subscribe" class="btn btn-danger">
        </div>
    
      </div>
</div>